<footer class="footer">
  <div>
    <p>Tienda</p>
    <nav>
      <ul>
        <li><a href="">Productos</a></li>
        <li><a href="">Cajoneras</a></li>
        <li><a href="">Para toda la casa</a></li>
        <li><a href="">Hbaitaciones</a></li>
      </ul>
    </nav>
  </div>

  <div>
    <p>Nosotros</p>
    <nav>
      <ul>
        <li><a href="">Nuestra guía</a></li>
        <li><a href="">Nuestro diseño</a></li>
        <li><a href="">Nuestra historia</a></li>
        <li><a href="">Ayuda</a></li>
      </ul>
    </nav>
  </div>

  <div>
    <p>Contacto</p>
    <nav>
      <ul>
        <li><a href="">ayuda@openspaces.com</a></li>
        <li><a href="">Socios</a></li>
      </ul>
    </nav>
    <nav>
      <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
      <a href=""><i class="fa-brands fa-instagram"></i></a>
      <a href=""><i class="fa-brands fa-twitter"></i></a>
    </nav>
  </div>
</footer>
