<footer class="footer">
  <div class="footer__section">
    <p class="footer__section__info">Tienda</p>
    <nav>
      <ul>
        <li class="footer__section__info__list">
          <a
            class="footer__section__info__list__link_info"
            href="https://adalab.es/"
            >Productos</a
          >
        </li>
        <li class="footer__section__info__list">
          <a
            class="footer__section__info__list__link_info"
            href="https://adalab.es/"
            >Cajoneras</a
          >
        </li>
        <li class="footer__section__info__list">
          <a
            class="footer__section__info__list__link_info"
            href="https://adalab.es/"
            >Para toda la casa</a
          >
        </li>
        <li class="footer__section__info__list">
          <a
            class="footer__section__info__list__link_info"
            href="https://adalab.es/"
            >Habitaciones</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <div class="footer__section">
    <p class="footer__section__info">Nosotros</p>
    <nav>
      <ul>
        <li class="footer__section__info__list">
          <a
            class="footer__section__info__list__link_info"
            href="https://adalab.es/"
            >Nuestra guía</a
          >
        </li>
        <li class="footer__section__info__list">
          <a
            class="footer__section__info__list__link_info"
            href="https://adalab.es/"
            >Nuestro diseño</a
          >
        </li>
        <li class="footer__section__info__list">
          <a
            class="footer__section__info__list__link_info"
            href="https://adalab.es/"
            >Nuestra historia</a
          >
        </li>
        <li class="footer__section__info__list">
          <a
            class="footer__section__info__list__link_info"
            href="https://adalab.es/"
            >Ayuda</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <div class="footer__section">
    <p class="footer__section__info">Contacto</p>
    <nav>
      <ul>
        <li class="footer__section__info__list">
          <a
            class="footer__section__info__list__link_info"
            href="https://adalab.es/"
            >ayuda@openspaces.com</a
          >
        </li>
        <li class="footer__section__info__list">
          <a
            class="footer__section__info__list__link_info"
            href="https://adalab.es/"
            >Socios</a
          >
        </li>
      </ul>
    </nav>
    <nav class="footer__section__rrss">
      <a class="footer__section__rrss__link_linked" href=""
        ><i class="fa-brands fa-linkedin-in"></i
      ></a>
      <a class="footer__section__rrss__link_insta" href=""
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a class="footer__section__rrss__link_twit" href=""
        ><i class="fa-brands fa-twitter"></i
      ></a>
    </nav>
  </div>
  <a href="#header"><i class="fa-solid fa-arrow-up footer__arrow"></i></a>
</footer>
