<header id="header" class="header">
  <a class="header__menu" href="https://adalab.es/"
    ><i class="fa-solid fa-bars"></i
  ></a>
  <nav class="header__nav">
    <ul class="header__nav__list">
      <li>
        <a class="header__nav__list__link" href="https://adalab.es/"
          >Productos</a
        >
      </li>
      <li>
        <a class="header__nav__list__link" href="https://adalab.es/">
          Colecciones</a
        >
      </li>
      <li>
        <a class="header__nav__list__link" href="https://adalab.es/">Tienda</a>
      </li>
      <li>
        <a class="header__nav__list__link" href="https://adalab.es/"> Inicio</a>
      </li>
    </ul>
  </nav>

  <img
    src="./assets/images/logo.png"
    alt="logo brand"
    class="header__icon-brand"
  />
  <div class="header__top">
    <h1 class="header__top__title_header">Difruta creando espacios</h1>

    <button class="header__top__buy_now">
      <a href="https://adalab.es/"> Compra ahora</a>
    </button>
  </div>
</header>
