<section class="section-1">
  <div class="wrapper">
    <h2 class="section-1__title_advantages">
      Volverse organizado se siente mejor con
      <span class="section-1__title_advantages--capitalize">open spaces</span>
    </h2>
    <div class="section-1__advantages">
      <article>
        <img
          class="section-1__advantages__icon_order"
          src="./assets/images/icon_1.png"
          alt="icono lo que necesitas"
        />
        <h3 class="section-1__advantages__title_order">Lo que necesitas</h3>
        <p class="section-1__advantages__text_order">
          Una línea de productos diseñados para todos tus espacios
        </p>
      </article>

      <article>
        <img
          class="section-1__advantages__icon_order"
          src="./assets/images/Biodegradable bag.png"
          alt="icono materias biodegradables"
        />
        <h3 class="section-1__advantages__title_order">
          Materias primas sustentables
        </h3>
        <p class="section-1__advantages__text_order">
          Todos los productos con materias primas sustentables
        </p>
      </article>

      <article>
        <img
          class="section-1__advantages__icon_order"
          src="./assets/images/Park.png"
          alt="incono guia"
        />
        <h3 class="section-1__advantages__title_order">Guía</h3>
        <p class="section-1__advantages__text_order">
          Soporte y asesoramiento para ayudarte con tu objetivo
        </p>
      </article>
    </div>
</section>
