<section class="section-2">
  <article class="section-2__article_free">
    <img
      class="section-2__article_free__van"
      src="./assets/images/go_6.png"
      alt="imagen envío gratis"
    />
    <h2 class="section-2__article_free__title_free">
      Envío gratis garantizado
    </h2>
    <p class="section-2__article_free__text_free">
      Envío gratis en compras desde 100
    </p>
    <a class="section-2__article_free__link_buy" href="https://adalab.es/"
      >Comprar ahora</a
    >
  </article>
  <article class="section-2__product_top">
    <h1 class="section-2__product_top__title_product">Productos destacados</h1>
    <div class="section-2__product_top__star_product">
      <p class="section-2__product_top__star_product__item_star">
        Producto estrella
      </p>
      <p class="section-2__product_top__star_product__item_star">
        Producto estrella
      </p>
    </div>
  </article>

  <article class="section-2__article_spaces">
    <div class="container_spaces">
      <h2 class="section-2__article_spaces__title_spaces">
        Disfruta creando espacios
      </h2>
      <p class="section-2__article_spaces__text_spaces">
        Una línea de productos diseñados para todos tus espacios
      </p>

      <button class="section-2__article_spaces__buy_now">
        <a
          class="section-2__article_spaces__buy_now__link"
          href="https://adalab.es/"
        >
          Comprar ahora</a
        >
      </button>
    </div>
    <div class="section-2__article_spaces__image_spaces"></div>
  </article>
</section>
