<section class="section-2">
  <article class="section-2__article_free">
    <img
      class="section-2__article_free__van"
      src="./assets/images/go_6.png"
      alt="imagen envío gratis"
    />
    <h2 class="section-2__article_free__title_free">
      Envío gratis garantizado
    </h2>
    <p class="section-2__article_free__text_free">
      Envío gratis en compras desde 100
    </p>
    <a class="section-2__article_free__link_buy" href="https://adalab.es/"
      >Comprar ahora</a
    >
  </article>
  
    <article class="section-2__article_spaces">
      
      <h2 class="section-2__article_spaces__title_spaces">
        Disfruta creando espacios
      </h2>
      <p class="section-2__article_spaces__text_spaces">
        Una línea de productos diseñados para todos tus espacios
      </p>
      <button class="section-2__article_spaces__buy_now"><a href="https://adalab.es/"> Comprar ahora</a></button>
      <div class="section-2__article_spaces__image_spaces"></div>
    
    </article>
</div>
</section>
