<section>
    <article>
      <img src="./assets/images/go_6.png" alt="imagen envío gratis" />
      <h2>Envío gratis garantizado</h2>
      <p>Envío gratis en compras desde 100</p>
      <a href="">Comprar ahora</a>
    </article>

    <article>
      <h2>Disfruta creando espacios</h2>
      <p>Una línea de productos diseñados para todos tus espacios</p>
      <button>Comprar ahora</button>
      <img
        src="./assets/images/creando-espacios.jpg"
        alt="imagen creando espacios"
      />
    </article>
  </section>