<div class="wrapper">
  <section class="section-1">
    <h2>Volverse organizado se siente mejor con open spaces</h2>

    <article>
      <img src="./assets/images/icon_1.png" alt="icono lo que necesitas" />
      <h3>Lo que necesitas</h3>
      <p>Una línea de productos diseñados para todos tus espacios</p>
    </article>

    <article>
      <img
        src="./assets/images/Biodegradable bag.png"
        alt="icono materias biodegradables"
      />
      <h3>Materias primas sustentables</h3>
      <p>Todos los productos con materias primas sustentables</p>
    </article>

    <article>
      <img src="./assets/images/Park.png" alt="incono guia" />
      <h3>Guía</h3>
      <p>Soporte y asesoramiento para ayudarte con tu objetivo</p>
    </article>
  </section>
</div>
