// ETIQUETAS GLOBALES RESPONSIVE
html {
  scroll-behavior: smooth;
}
body,
input,
textarea,
button {
  font-family: $font-text;
}

.wrapper {
  margin: 0 45px;
  @media all and (min-width: $tablet-breakpoint) {
    margin: 0 100px;
  }
}
