html {
  scroll-behavior: smooth;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 0 63px 0;
  background-color: $green-dark;
  position: relative;
}
.info {
  font-family: $font-title;
  font-size: 20px;
  font-weight: 600;
  color: $blue-clear;
  padding-top: 20px;
}
.list {
  list-style: none;
}

.link_info {
  // list-style: none;
  font-family: $font-title;
  font-size: 14px;
  color: $blue-clear;
  text-decoration: none;
}
.shop,
.we,
.contact {
  width: 200px;
}
.rrss {
  padding-top: 20px;
  font-size: 20px;
}
.link_linked,
.link_insta,
.link_twit {
  color: $grey;
  padding-right: 11px;
}
.arrow {
  color: $grey;
  position: absolute;
  right: 24px;
  bottom: 16px;
  font-size: 24px;
  transition-property: all;
}
