.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 0 63px 0;
  background-color: $green-dark;
  position: relative;
  &__shop {
    width: 200px;
    &__info {
      font-family: $font-title;
      font-size: 20px;
      font-weight: 600;
      color: $blue-clear;
      padding-top: 20px;
      &__list {
        list-style: none;
        &__link_info {
          font-family: $font-title;
          font-size: 14px;
          color: $blue-clear;
          text-decoration: none;
        }
      }
    }
  }
  &__we {
    width: 200px;
    &__info {
      font-family: $font-title;
      font-size: 20px;
      font-weight: 600;
      color: $blue-clear;
      padding-top: 20px;
      &__list {
        list-style: none;
        &__link_info {
          font-family: $font-title;
          font-size: 14px;
          color: $blue-clear;
          text-decoration: none;
        }
      }
    }
  }
  &__contact {
    width: 200px;
    &__info {
      font-family: $font-title;
      font-size: 20px;
      font-weight: 600;
      color: $blue-clear;
      padding-top: 20px;
      &__list {
        list-style: none;
        &__link_info {
          font-family: $font-title;
          font-size: 14px;
          color: $blue-clear;
          text-decoration: none;
        }
      }
    }
    &__rrss {
      padding-top: 20px;
      font-size: 20px;
      &__link_linked {
        color: $grey;
        padding-right: 10px;
      }
      &__link_insta {
        color: $grey;
        padding-right: 10px;
      }
      &__link_twit {
        color: $grey;
        padding-right: 10px;
      }
    }
  }
}

.arrow {
  color: $grey;
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-size: 20px;
  transition-property: all;
  padding: 40px 0 0 40px;
  animation-name: bounce;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  &:hover {
    animation: none;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
/**/
/**/
/**/
// FOOTER TABLET VERSION
/**/
@media all and (min-width: 768px) {
  .footer {
    flex-direction: row;
    padding-left: 118px;
  }
}
