/*CSS HEADER*/
.header {
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center center;
  width: 100vw;
  &__menu {
    position: fixed;
    padding-top: 55px;
    font-size: 24px;
    color: #0c474b;
    padding-left: 33px;
  }
  &__icon-brand {
    padding: 19px 0 100px 0;
    display: block;
    margin: auto;
  }
  &__top {
    text-align: center;
    padding: 19px 0 64px 0;
    &__title_header {
      color: $green-dark;
      font-size: 24px;
      font-weight: 600;
      font-family: $font-title;
      padding-bottom: 24px;
    }
    &__buy_now {
      padding: 12px 24px;
      background-color: $green-dark;
      border: none;
      color: $white;
      font-family: $font-title;
      font-weight: 600;
      font-size: 16px;
    }
    &__buy_now:hover {
      -webkit-transition: all 1.9s ease;
      -webkit-transform: scale(1.1);
    }
  }
}
