// SECTION 1 MOBILE VERSION
.section-1 {
  background-color: $grey;
  &__title_advantages {
    text-align: center;
    color: $green-dark;
    padding: 41px 0 37px 0;
    &--capitalize {
      text-transform: uppercase;
    }
  }
  &__advantages {
    text-align: center;
    display: grid;
    gap: 40px;
    padding-bottom: 20px;

    &__icon_order {
      width: 90px;
      height: 99px;
    }
    &__title_order {
      font-size: 20px;
      color: $green-dark;
      padding-top: 20px;
    }
    &__text_order {
      color: $green-dark;
    }
  }
}
// SECTION-1 TABLET VERSION
/**/
/**/
@media all and (min-width: 768px) {
  .section-1 {
    &__advantages {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 42px;
      padding: 30px 0 70px 0;
    }
  }
}
